@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .btn {
        @apply font-bold py-2 px-4 rounded cursor-pointer select-none;
    }
    
    .btn-blue {
        @apply bg-blue-500 text-white dark:bg-blue-900;
    }
    
    .btn-green {
        @apply bg-green-500 text-white dark:bg-blue-900;
    }
    
    .btn-main {
        @apply bg-white text-black dark:bg-stone-500 dark:text-cyan-300;
    }
    
    .btn-blue:hover {
        @apply bg-blue-700;
    }
    .input {
        @apply border rounded-sm dark:bg-[#1d1e21] dark:border-blue-100 dark:text-white;
    }
    
    .dark-white {
        @apply dark:text-gray-200;
    }
}

@layer base {
    body {
        @apply bg-[#f6f6f6] dark:bg-[#303237]
    }
}


@layer utilities {
    .hidden-scrollbar {
        -ms-overflow-style: none;
        scrollbar-width: none;
    }
    .hidden-scrollbar::-webkit-scrollbar {
        display: none;
    }
    .content_container {
        @apply bg-white hover:bg-white dark:bg-[#282c34]  dark:hover:bg-[#393d45];
    }
    .content_container .reference_content {
        @apply bg-[#fcfcfc] dark:bg-[#2c313c];
    }
}


body::before {
    content: '';
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: -1;
    top: 0;
    left: 0;
}